<body>

    <div class="container" id="seccion-selector" *ngIf="seleccionandoRegistro == true">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card my-5">
    
                <div class="card-body cardbody-color p-lg-5">   
                   
                    <h1 class="h3 mb-3 fw-normal" id="card-tittle">Elija como desea registrarse</h1>
                    
                    <div class="row" id="contenedor-selector-registro">
                        <div class="col" (click)="mostrarFormEspecialista()"><img id="imagen-especialista" src="../../../assets/especialista.png" width="50%" height="100%"></div>
                        <div class="col" (click)="mostrarFormPaciente()"><img id="imagen-paciente" src="../../../assets/paciente.png" width="50%" height="100%"></div>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="cargandoSpinner == true"><img src="../../../assets/spinner.gif"></div>

      <div class="container" id="seccion-form-paciente" *ngIf="seleccionandoRegistro == false && registroPaciente == true">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card my-5">
    
                <div class="card-body cardbody-color p-lg-5">   
                
                    <form [formGroup]="formaPaciente" (ngSubmit)="registrarPaciente()">   
                        <div class="row">
                            
                            <input [(ngModel)]="mailIngresado" type="mail" class="form-control" id="mail-paciente" placeholder="Mail" formControlName="mail">
                            <small class="invalid" *ngIf="formaPaciente.controls?.['mail'].errors?.required && formaPaciente.controls?.['mail'].touched">El nombre es requerido</small>
                            
                            <input [(ngModel)]="passwordIngresado" type="password" class="form-control" id="password-paciente" placeholder="Password" formControlName="password">
                            <small class="invalid" *ngIf="formaPaciente.controls?.['password'].errors?.required && formaPaciente.controls?.['password'].touched">El nombre es requerido</small>

                            <input [(ngModel)]="passwordConfirmIngresado" type="password" class="form-control" id="passwordconfirm-paciente" placeholder="Password confirmada" formControlName="passwordConfirm">
                            <small class="invalid" *ngIf="formaPaciente.controls?.['passwordConfirm'].errors?.required && formaPaciente.controls?.['passwordConfirm'].touched">El nombre es requerido</small>

                            <div class="col">
                                <input [(ngModel)]="nombreIngresado" type="nombre" class="form-control" id="nombre-paciente" placeholder="Nombre" formControlName="nombre">
                                <small class="invalid" *ngIf="formaPaciente.controls?.['nombre'].errors?.required && formaPaciente.controls?.['nombre'].touched">El nombre es requerido</small>
                            </div>
   
                            <div class="col">
                                <input [(ngModel)]="apellidoIngresado" type="apellido" class="form-control" id="apellido-paciente" placeholder="Apellido" formControlName="apellido">
                                <small class="invalid" *ngIf="formaPaciente.controls?.['apellido'].errors?.required && formaPaciente.controls?.['apellido'].touched">El apellido es requerido</small>       
                            </div>
                             
                            <div class="col">
                                <input [(ngModel)]="edadIngresada" type="number" class="form-control" id="edad-paciente" placeholder="Edad" formControlName="edad">
                                <small class="invalid" *ngIf="formaPaciente.controls?.['edad'].errors?.required && formaPaciente.controls?.['edad'].touched">La edad es requerida</small>
                            </div>
                           
                            <input [(ngModel)]="dniIngresado" type="number" class="form-control" id="dni-paciente" placeholder="DNI" formControlName="dni">                        
                            <small class="invalid" *ngIf="formaPaciente.controls?.['dni'].errors?.required && formaPaciente.controls?.['dni'].touched">El DNI es requerido</small>

                            <div class="col">
                                <label class="custom-file-upload">
                                    <input type="file" size="20" accept="image/png,image/jpeg" class="form-item" id="file-input1-paciente"   (change)="fotoPacienteSubida($event, 1)" formControlName="foto1">     
                                    <small class="invalid" *ngIf="formaPaciente.controls?.['foto1'].errors?.required && formaPaciente.controls?.['foto1'].touched">La 1° foto es requerida</small>
                                </label>
                            </div>

                            <div class="col">
                                <label class="custom-file-upload">
                                    <input type="file" size="20" accept="image/png,image/jpeg" class="form-item" id="file-input2-paciente"   (change)="fotoPacienteSubida($event, 2)" formControlName="foto2">     
                                    <small class="invalid-fotos" *ngIf="formaPaciente.controls?.['foto2'].errors?.required && formaPaciente.controls?.['foto2'].touched">La 2° foto es requerida</small>
                                </label>
                            </div>

                            <div class="row">
                                <input readonly [(ngModel)]="captchaGenerado" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="captcha-generado">                        
                                <input [(ngModel)]="captchaIngresado" type="text" class="form-control" id="captcha-ingresado" placeholder="Ingrese el mensaje que visualiza" formControlName="captcha">                        
                                <small class="invalid-fotos" *ngIf="formaPaciente.controls?.['captcha'].errors?.required && formaPaciente.controls?.['captcha'].touched">El captcha es invalido</small>   
                            </div>
                    
                            <div class="row">
                                <button type="submit" id="btn-registrar-paciente">Registrar</button>
                            </div>
                        </div> 
                    </form>

                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" id="seccion-form-especialista" *ngIf="seleccionandoRegistro == false && registroEspecialista == true">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card my-5">
    
                <div class="card-body cardbody-color p-lg-5">   
                
                    <form [formGroup]="formaEspecialista" (ngSubmit)="registrarEspecialista()">   
                        <div class="row">
                            
                            <input [(ngModel)]="mailEspecialistaIngresado" type="mail" class="form-control" id="mail-especialista" placeholder="Mail" formControlName="mail">
                            <small class="invalid" *ngIf="formaEspecialista.controls?.['mail'].errors?.required && formaEspecialista.controls?.['mail'].touched">El mail es requerido</small>

                            <input [(ngModel)]="passwordEspecialistaIngresado" type="password" class="form-control" id="password-especialista" placeholder="Password" formControlName="password">
                            <small class="invalid" *ngIf="formaEspecialista.controls?.['password'].errors?.required && formaEspecialista.controls?.['password'].touched">La contraseña es requerida</small>

                            <input [(ngModel)]="passwordEspecialistaConfirmIngresado" type="password" class="form-control" id="passwordconfirm-especialista" placeholder="Password confirmada" formControlName="passwordConfirm">
                            <small class="invalid" *ngIf="formaEspecialista.controls?.['passwordConfirm'].errors?.required && formaEspecialista.controls?.['passwordConfirm'].touched">La confirmación de contraseña es requerida</small>

                            <div class="col">
                                <input [(ngModel)]="nombreEspecialistaIngresado" type="nombre" class="form-control" id="nombre-especialista" placeholder="Nombre" formControlName="nombre">
                                <small class="invalid" *ngIf="formaEspecialista.controls?.['nombre'].errors?.required && formaEspecialista.controls?.['nombre'].touched">El nombre es requerido</small>
                            </div>
   
                            <div class="col">
                                <input [(ngModel)]="apellidoEspecialistaIngresado" type="apellido" class="form-control" id="apellido-especialista" placeholder="Apellido" formControlName="apellido">       
                                <small class="invalid" *ngIf="formaEspecialista.controls?.['apellido'].errors?.required && formaEspecialista.controls?.['apellido'].touched">El apellido es requerido</small>
                            </div>
                             
                            <div class="col">
                                <input [(ngModel)]="edadEspecialistaIngresada" type="number" class="form-control" id="edad-especialista" placeholder="Edad" formControlName="edad">
                                <small class="invalid" *ngIf="formaEspecialista.controls?.['edad'].errors?.required && formaEspecialista.controls?.['edad'].touched">La edad es requerida</small>
                            </div>
                           
                            <input [(ngModel)]="dniEspecialistaIngresado" type="number" class="form-control" id="dni-especialista" placeholder="DNI" formControlName="dni">                        
                            <small class="invalid" *ngIf="formaEspecialista.controls?.['dni'].errors?.required && formaEspecialista.controls?.['dni'].touched">El dni es requerido</small>

                            <div class="col">
                                <label class="custom-file-upload">
                                    <input type="file" size="20" accept="image/png,image/jpeg" class="form-item" id="file-input1-paciente" (change)="fotoEspecialistaSubida($event)" formControlName="foto1">     
                                    <small class="invalid" *ngIf="formaEspecialista.controls?.['foto1'].errors?.required && formaEspecialista.controls?.['foto1'].touched">La 1° foto es requerida</small>
                                </label>
                            </div>

                            <input readonly placeholder="Elija sus especialidades" id="especialidades-elegidas" value="{{especialidadesSeleccionadas}}" formControlName="especialidades">
                            <small class="invalid" *ngIf="formaEspecialista.controls?.['especialidades'].errors?.required && formaEspecialista.controls?.['especialidades'].touched">La especialidad es requerida</small>
                            
                            <button id="btn-borrar-especialidades" (click)="limpiarEspecialidades()">✘</button>

                             <div class="multiple_select_checkbox">
                                <input class="especialidad-opcion" (change)="actualizarEspecialidades($event)" type="checkbox" value="Odontología"/><label class="lbl-especialidad">Odontología</label><br>
                                <input class="especialidad-opcion" (change)="actualizarEspecialidades($event)" type="checkbox" value="Dermatología"/><label class="lbl-especialidad">Dermatología</label><br>
                                <input class="especialidad-opcion" (change)="actualizarEspecialidades($event)" type="checkbox"  value="Otorrinonaringología"/><label class="lbl-especialidad">Otorrinonaringología</label><br>
                                <input class="especialidad-opcion" (change)="actualizarEspecialidades($event)" type="checkbox" value="Naringología"/><label class="lbl-especialidad">Ortopedia</label><br>
                                <input class="especialidad-opcion" (change)="actualizarEspecialidades($event)" type="checkbox" value="Naringología"/><label class="lbl-especialidad">Cardiología</label><br>
                                <input class="especialidad-opcion" (change)="actualizarEspecialidades($event)" type="checkbox" value="Naringología"/><label class="lbl-especialidad">Cirugía</label><br>
                                <input class="especialidad-opcion" (change)="actualizarEspecialidades($event)" type="checkbox" value="Naringología"/><label class="lbl-especialidad">Inmunología</label><br>
                                <input class="especialidad-opcion" (change)="actualizarEspecialidades($event)" type="checkbox" value="Naringología"/><label class="lbl-especialidad">Gastroenterología</label><br>
                             </div>
                             <input placeholder="Escríbala si no la pudo encontrar" type="text" id="especialidades-agregadas" [(ngModel)]="especialidadAgregada" [ngModelOptions]="{standalone: true}">  
                             <button id="btn-agregar-especialidad" (click)="agregarEspecialidad()">↑</button>            
                    
                             <div class="col">
                                <input readonly [(ngModel)]="captchaGenerado" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="captcha-generado">                        
                                <input [(ngModel)]="captchaIngresado" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="captcha-ingresado" placeholder="Ingrese el mensaje que visualiza">                        
                                <small class="invalid" *ngIf="formaEspecialista.controls?.['captcha'].errors?.required && formaEspecialista.controls?.['captcha'].touched">El captcha es requerido</small>
                            </div>

                            <div class="row">
                                <button type="submit" id="btn-registrar-especialista">Registrar</button>
                            </div>
                        </div> 
                    </form>

                </div>
            </div>
          </div>
        </div>
      </div>

</body>