html,body 
{
  height: 100%;
}

body 
{
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  justify-content: center;
}

a{
  text-decoration: none;
}

#card-tittle
{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-color
{
  background-color: #0e1c36;
  color: #fff;
}

#txtError
{
  text-align: center;
  color: red;
}

#imagen-especialista, #imagen-paciente
{
  margin-top: 1rem;
  margin-left: 25%;
  width: 60%;
  padding: 10px;
}

#imagen-paciente
{
  width: 65%;
}

#imagen-especialista:hover, #imagen-paciente:hover
{
  background-color: rgb(193, 190, 190);
  border-radius: 15px;
}

#captcha-generado
{
  font-style: italic;
  text-decoration: dashed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#captcha-ingresado, #captcha-generado
{
  text-align: center;
}

.invalid
{
  color: red;
  text-align: center;
}

.invalid-fotos
{
  color: red;
  text-align: center;
  margin-left: 25px;
}

/* FORM PACIENTE */
#nombre-paciente, #apellido-paciente, #edad-paciente, #dni-paciente, #mail-paciente, #password-paciente,  #passwordconfirm-paciente
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 95%;
  margin-left: 2%;
  margin-top: 0.5rem;
  text-align: center;
}

.custom-file-upload {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 2.5rem;
  width: 99%;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

#btn-registrar-paciente
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 1rem;
  width: 65%;
  height: 2.5rem;
  margin-left: 20%;
}

/* FORM ESPECIALISTA */
#nombre-especialista, #apellido-especialista, #edad-especialista, #dni-especialista, #mail-especialista, #password-especialista,  #passwordconfirm-especialista
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 95%;
  margin-left: 2%;
  margin-top: 0.5rem;
  text-align: center;
}

#btn-registrar-especialista
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 1rem;
  width: 65%;
  height: 2.5rem;
  margin-left: 20%;
}

#especialidades-elegidas
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 88.5%;
  margin-left: 2%;
  border: 1px solid #CCCCCC;
}

#btn-borrar-especialidades
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  border-radius: 4px;
  height: 1.8rem;
  width: 2.3rem;
  margin-top: 0.5rem;
  border: 1px solid #CCCCCC;
}

.multiple_select_checkbox 
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 95%;
  margin-left: 2%;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #CCCCCC;
}

.lbl-especialidad
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 0.3rem;
}

#especialidades-agregadas
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 88.5%;
  margin-left: 2%;
  border: 1px solid #CCCCCC;
}

#btn-agregar-especialidad
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  border-radius: 5px;
  height: 2rem;
  width: 2.3rem;
  margin-top: 0.4rem;
  border: 1px solid #CCCCCC;
}


