<div class="p-4 p-md-5 mb-4 rounded" id="contenedor-absoluto">

    <div class="row" id="main-row" hidden>

        <div class="col-md-4" id="col1">
            <h1 class="display-4 fst-italic" id="titulo-principal">Solicitar turno</h1>
            <div class="col-md-4" id="listado-turnos">
                <div class="col p-4 d-flex flex-column position-static">
                   
                    <input class="datos-turno" readonly placeholder="Su usuario" [(ngModel)]="usuarioPacienteMailIngresado">
                    <input class="datos-turno" readonly placeholder="Elija especialidad" [(ngModel)]="especialidadIngresada">
                    <input class="datos-turno" readonly placeholder="Elija especialista" [(ngModel)]="especialistaIngresado">
                    <input class="datos-turno" readonly placeholder="Elija fecha" [(ngModel)]="fechaIngresada">

                    <ul id="opciones-turnos" hidden>
                        <li *ngFor="let turno of arrayTurnos; index as i" class="item-turno" (click)="turnoClickeado(turno)">{{arrayTurnos[i]}}</li>
                    </ul>

                    <button id="btn-solicitar-turno" (click)="solicitarTurno()">Solicitar turno</button>

                </div>
            </div>
        </div>
        
        <div class="col-md-4" id="col2">
            <h1 class="display-4 fst-italic" id="titulo-principal2">Elija especialidad</h1>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <app-listado-especialidades (especialidadClickeada)="especialidadElegida($event)"></app-listado-especialidades>

                </div>
            </div>
        </div>

        <div class="col-md-4" id="col3">
            <h1 class="display-4 fst-italic" id="titulo-principal3">Elija especialista</h1>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <ul id="opciones-especialistas">
                        <li *ngFor="let especialista of arrayEspecialistasFiltrado" class="item-especialista" (click)="especialistaElegido(especialista)">
                            <img class="foto-especialista" src="{{especialista.foto1}}">
                            <label>Lic. {{especialista.nombre + " " + especialista.apellido}}</label>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-4" id="col4" *ngIf="isAdmin == true">
            <h1 class="display-4 fst-italic" id="titulo-principal3">Elija paciente</h1>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <ul id="opciones-pacientes">
                        <li *ngFor="let paciente of arrayPacientes" class="item-paciente" (click)="pacienteElegido(paciente)">
                            <img class="foto-paciente" src="{{paciente.foto1}}">
                            <label>{{paciente.nombre + " " + paciente.apellido}}</label>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

</div>