.item-especialidad
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.5rem;
    height: 2rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    font-size: 19px;
}

.foto-especialidad
{
    border-radius: 4px;
    width: 25px; 
    height: 25px;
    margin-right: 0.5rem;
}

.item-especialidad:hover
{
    background-color: #556e78;
}

#opciones-especialidades
{
    height: 13.5rem;
    overflow: auto;
}

li
{
    list-style: none;
}