#contenedor-absoluto
{
    margin-top: 2rem;
    height: 42rem;
    background-color: #425b65;
    color: white;
}

#comentario-cancelacion
{
    height: 5rem;
    max-height: 5rem;
    border-radius: 4px;
    margin-top: 0.5;
}

#col1
{
    text-align: center;
    width: 65%;
    color: white;
}

#listado-turnos
{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

#opciones-turnos
{
    text-align: center;
    height: 15.7rem;
    overflow: auto;
}

.item-turno
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 0.5rem;
    height: 2rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    font-size: 19px;
}

.item-turno:hover
{
    background-color: #556e78;
}

li
{
    list-style: none;
}

#titulo-principal, #titulo-principal2
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#col2
{
    text-align: center;
    width: 35%;
    color: white;
}

.btn-accion-turno
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid white;
    background-color: #425b65;
    border-radius: 5px;
    width: 100%;
    color: white;
    margin-top: 0.5rem;
}

@media (max-width: 1100px) 
{
    #col1
    {
        width: 100%;      
    }
    #col2
    {
        margin-top: 1.5rem;
        width: 100%;
    }

    #contenedor-absoluto
    {
        height: 50rem;
    }
}
