#contenedor-absoluto
{
    margin-top: 2rem;
    height: 38rem;
    background-color: #425b65;
    color: white;
}

#col1
{
    text-align: center;
    width: 65%;
    color: white;
}

#listado-turnos
{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

#titulo-principal, #titulo-principal2
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#col2
{
    text-align: center;
    width: 35%;
    color: white;
}

@media (max-width: 1100px) 
{
    #col1
    {
        width: 100%;      
    }
    #col2
    {
        margin-top: 1.5rem;
        width: 100%;
    }

    #contenedor-absoluto
    {
        height: 50rem;
    }
}
