#contenedor-absoluto, #contenedor-absoluto-especialista
{
    margin-top: 2rem;
    height: 60rem;
    background-color: #425b65;
    color: white;
}

/* FILTRACIONES */

#combo-box-filtraciones, #data-filtradora, #combo-box-filtraciones-especialista, #data-filtradora-especialista
{
    width: 43%;
    margin-left: 2.2rem;
    height: 2.5rem;
}

/*  */

#comentario-cancelacion, #comentario-finalizacion
{
    height: 5rem;
    max-height: 5rem;
    border-radius: 4px;
    margin-top: 0.5rem;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dato-historia-clinica
{
    margin-top: 0.5rem;
    border-radius: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#col1, #col1-especialista
{
    text-align: center;
    width: 65%;
    color: white;
}

#listado-turnos, #listado-turnos-especialista
{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

#opciones-turnos, #opciones-turnos-especialista
{
    margin-top: 2rem;
    text-align: center;
    height: 15.7rem;
    overflow: auto;
}

.item-turno
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 0.5rem;
    height: 2rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    font-size: 19px;
}

.item-turno:hover
{
    background-color: #556e78;
}

li
{
    list-style: none;
}

#titulo-principal, #titulo-principal2, #titulo-principal-especialista, #titulo-principal2-especialista
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#col2, #col2-especialista
{
    text-align: center;
    width: 35%;
    color: white;
}

.btn-accion-turno, #btn-enviar-comentario
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid white;
    background-color: #425b65;
    border-radius: 5px;
    width: 100%;
    color: white;
    margin-top: 0.5rem;
}

#btn-filtro-especialidad, #btn-filtro-paciente
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 1.8rem;
}

#opciones-pacientes, #opciones-especialidades
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 10rem;
    overflow: auto;
}

#btn-filtro-paciente, #btn-filtro-especialidad, #btn-limpiar-filtro
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid white;
    background-color: #425b65;
    border-radius: 5px;
    width: 90%;
    color: white;
    margin-top: 0.5rem;
}

#btn-limpiar-filtro
{
    margin-left: 8%;
    width: 90%;
    margin-top: 0.5rem;
}

#container-opciones-filtradoras
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid white;
    border-radius: 5px;
    width: 96%;
    margin-top: 1rem;
    margin-left: 0.52rem;
    text-align: left;
    margin-bottom: 0px;
}

.item-paciente, .item-especialidad
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.5rem;
    height: 2rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.5rem;
}

.foto-paciente
{
    width: 40px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 0.5rem;
}

@media (max-width: 580px) 
{
    #combo-box-filtraciones, #data-filtradora
    {
        width: 100%;
        margin-top: 0.3rem;
        margin-left: 0rem;
    }
}   

@media (max-width: 1100px) 
{
    #col1, #col1-especialista
    {
        width: 100%;      
    }
    #col2, #col2-especialista
    {
        margin-top: 1.5rem;
        width: 100%;
    }

    #btn-filtro-paciente, #btn-filtro-especialidad, #btn-limpiar-filtro
    {
        width: 90%;
        margin-top: 0.5rem;

    }

    #contenedor-absoluto, #contenedor-absoluto-especialista
    {
        height: 50rem;
    }
}
