<div class="p-4 p-md-5 mb-4 rounded" id="contenedor-absoluto" *ngIf="this.srvAuth.isPacient == true">

    <div class="row">

        <div class="col-md-4" id="col1">
            <h1 class="display-4 fst-italic" id="titulo-principal">Listado</h1>
            <div class="col-md-4" id="listado-turnos">
                <div class="col p-4 d-flex flex-column position-static">

                    <div class="row">
                        <input [(ngModel)]="datoFiltrador" type="text" placeholder="Ingrese el dato por el cual filtrar" id="data-filtradora">
                        <input [(ngModel)]="campoFiltrador" type="text" hidden>

                        <select (change)="actualizarFiltracionCampo($event)" id="combo-box-filtraciones">
                            <option>Ningun/a</option>
                            <option>Mail especialista</option>
                            <option>Fecha</option>
                            <option>Estado</option>
                            <option>Especialidad</option>

                            <!-- Datos solo disponibles si el estado del turno es 'finalizado' -->
                            <option>Altura</option>
                            <option>Peso</option>
                            <option>Temperatura</option>
                            <option>Presión</option>
                            <option>Dato personalizado</option>
                            <option>Valor personalizado</option>
                        </select>
                    </div>

                    <ul id="opciones-turnos">
                        <li *ngFor="let turno of (listadoTurnosPacienteLogeado | filtradorTurnos: datoFiltrador : campoFiltrador)" class="item-turno" (click)="turnoClickeado(turno)">
                            <label>{{turno.info}} - <strong>{{turno.estado}}</strong></label>
                        </li>         
                    </ul>

                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && estadoTurno != 'realizado' && estadoTurno != 'cancelado' " (click)="cancelarTurno()">Cancelar</button>
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && (resenaTurno != undefined && resenaTurno != '' )" (click)="verResena()">Ver reseña</button>
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && estadoTurno == 'realizado' && (resenaTurno != undefined && resenaTurno != '' )" (click)="enviarEncuesta()">Completar encuesta</button>
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && estadoTurno == 'realizado'" (click)="enviarValoracion()">Calificar atención</button>

                    <!-- Ver reseña -->
                    <textarea readonly id="comentario-resena" *ngIf="turnoSeleccionado == true && resenaTurnoHabilitado == true">{{textoResena}}</textarea>

                    <!-- Completar encuesta -->
                    <textarea id="comentario-encuesta" *ngIf="turnoSeleccionado == true && encuestaTurnoHabilitado == true" [(ngModel)]="encuestaIngresada"></textarea>
                    <button class="btn-enviar-encuesta" *ngIf="turnoSeleccionado == true && encuestaTurnoHabilitado == true" (click)="procederEncuesta()">Enviar encuesta</button>
        
                    <!-- Completar valoracion -->
                    <input id="comentario-valoracion" *ngIf="turnoSeleccionado == true && valoracionTurnoHabilitado == true" [(ngModel)]="valoracionIngresada">
                    <button class="btn-enviar-valoracion" *ngIf="turnoSeleccionado == true && valoracionTurnoHabilitado == true" (click)="procederValoracion()">Enviar encuesta</button>

                    <!-- Cancelar turno -->
                    <input id="comentario-cancelacion" *ngIf="turnoSeleccionado == true && comentarioTurnoHabilitado == true" [(ngModel)]="comentarioIngresado">
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && comentarioTurnoHabilitado == true" (click)="procederCancelacion()">Enviar y cancelar</button>
        
                </div>
            </div>
        </div>
        
        <div class="col-md-4" id="col2">
            <h1 class="display-4 fst-italic" id="titulo-principal2">Filtrar</h1>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <app-opciones-filtradoras-turnos (opcionClickeada)="filtroClickeado($event)"></app-opciones-filtradoras-turnos>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="p-4 p-md-5 mb-4 rounded" id="contenedor-absoluto-especialista" *ngIf="this.srvAuth.isEspecialist == true">

    <div class="row">

        <div class="col-md-4" id="col1-especialista">
            <h1 class="display-4 fst-italic" id="titulo-principal-especialista">Listado de sus turnos</h1>
            <div class="col-md-4" id="listado-turnos-especialista">
                <div class="col p-4 d-flex flex-column position-static">
                   
                    <div class="row">
                        <input [(ngModel)]="datoFiltrador" type="text" placeholder="Ingrese el dato por el cual filtrar" id="data-filtradora-especialista">
                        <input [(ngModel)]="campoFiltrador" type="text" hidden>

                        <select (change)="actualizarFiltracionCampo($event)" id="combo-box-filtraciones-especialista">
                            <option>Ningun/a</option>
                            <option>Mail paciente</option>
                            <option>Fecha</option>
                            <option>Estado</option>
                            <option>Especialidad</option>

                            <!-- Datos solo disponibles si el estado del turno es 'finalizado' -->
                            <option>Altura</option>
                            <option>Peso</option>
                            <option>Temperatura</option>
                            <option>Presión</option>
                            <option>Dato personalizado</option>
                            <option>Valor personalizado</option>
                        </select>
                    </div>

                    <ul id="opciones-turnos-especialista">
                        <li *ngFor="let turno of (listadoTurnosEspecialistaLogeado | filtradorTurnos: datoFiltrador : campoFiltrador)" class="item-turno" (click)="turnoClickeado(turno)">
                            <label>{{turno.info}} - <strong>{{turno.estado}}</strong> - {{turno.paciente}}</label>
                        </li>         
                    </ul>

                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && estadoTurno != 'realizado' && estadoTurno != 'cancelado' " (click)="cancelarTurno()">Cancelar</button>
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && (resenaTurno != undefined && resenaTurno != '' )" (click)="verResena()">Ver reseña</button>
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && estadoTurno != 'realizado' && estadoTurno != 'aceptado' && estadoTurno != 'rechazado' && estadoTurno != 'cancelado'" (click)="rechazarTurno()">Rechazar Turno</button>
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && estadoTurno != 'realizado' && estadoTurno != 'aceptado' && estadoTurno != 'rechazado' && estadoTurno != 'cancelado'" (click)="aceptarTurno()">Aceptar Turno</button> 
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && estadoTurno == 'aceptado'" (click)="finalizarTurno()">Finalizar Turno</button> 

                    <!-- Ver reseña -->
                    <textarea readonly id="comentario-resena" *ngIf="turnoSeleccionado == true && resenaTurnoHabilitado == true">{{textoResena}}</textarea> 

                    <!-- Finalizar turno y Cargar historial -->
                    <textarea id="comentario-finalizacion" *ngIf="turnoSeleccionado == true && resenaDevolucionTurnoHabilitado == true" [(ngModel)]="textoDevolucion"></textarea>
                    
                    <input class="dato-historia-clinica" type="number" placeholder="Altura (cm)" *ngIf="turnoSeleccionado == true && resenaDevolucionTurnoHabilitado == true" [(ngModel)]="alturaPaciente"  [ngModelOptions]="{standalone: true}">   
                    <input class="dato-historia-clinica" type="number" placeholder="Peso (kg)" *ngIf="turnoSeleccionado == true && resenaDevolucionTurnoHabilitado == true" [(ngModel)]="pesoPaciente"  [ngModelOptions]="{standalone: true}">   
                    <input class="dato-historia-clinica" type="number" placeholder="Temperatura (°C)"  *ngIf="turnoSeleccionado == true && resenaDevolucionTurnoHabilitado == true" [(ngModel)]="temperaturaPaciente"  [ngModelOptions]="{standalone: true}">   
                    <input class="dato-historia-clinica" type="number" placeholder="Presión (mmHg)" *ngIf="turnoSeleccionado == true && resenaDevolucionTurnoHabilitado == true" [(ngModel)]="presionPaciente"  [ngModelOptions]="{standalone: true}"> 
                    <input class="dato-historia-clinica" type="text"  placeholder="Dato personalizado" *ngIf="turnoSeleccionado == true && resenaDevolucionTurnoHabilitado == true"  [(ngModel)]="datoPersonalizadoPaciente"  [ngModelOptions]="{standalone: true}">   
                    <input class="dato-historia-clinica" type="text" placeholder="Valor personalizado" *ngIf="turnoSeleccionado == true && resenaDevolucionTurnoHabilitado == true" [(ngModel)]="valorPersonalizadoPaciente"  [ngModelOptions]="{standalone: true}">     
                    <button id="btn-enviar-comentario" *ngIf="turnoSeleccionado == true && resenaDevolucionTurnoHabilitado == true" (click)="procederFinalizacion()">Enviar diagnostico</button>
                
                    <!-- Cancelar turno -->
                    <input id="comentario-cancelacion" *ngIf="turnoSeleccionado == true && comentarioTurnoHabilitado == true" [(ngModel)]="comentarioIngresado">
                    <button class="btn-accion-turno" *ngIf="turnoSeleccionado == true && comentarioTurnoHabilitado == true" (click)="procederCancelacion()">Enviar y cancelar</button>
     
                </div>
            </div>
        </div>
        
        <div class="col-md-4" id="col2-especialista">
            <h1 class="display-4 fst-italic" id="titulo-principal2">Filtrar</h1>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                   
                    <!-- OPCIONES FILTRADORAS -->

                    <button id="btn-filtro-especialidad" (click)="actualizarFiltroEspecialista('especialidad')">Especialidad</button>
                    <button id="btn-filtro-paciente" (click)="actualizarFiltroEspecialista('paciente')">Paciente</button>
                    <button id="btn-limpiar-filtro" (click)="filtroClickeadoEspecialista('none','default')">Limpiar</button>

                    <div id="container-opciones-filtradoras">

                        <ul id="opciones-pacientes" *ngIf="opcionFiltradoraSeleccionada == 'paciente'">
                            <li *ngFor="let paciente of arrayPacientes" class="item-paciente" (click)="filtroClickeadoEspecialista(paciente,'paciente')">
                                <img class="foto-paciente" src="{{paciente.foto1}}">
                                <label>Pac. {{paciente.nombre + " " + paciente.apellido}}</label>
                            </li>
                        </ul>

                        <ul id="opciones-especialidades" *ngIf="opcionFiltradoraSeleccionada== 'especialidad'">
                            <li *ngFor="let especialidad of arrayEspecialidades" class="item-especialidad" (click)="filtroClickeadoEspecialista(especialidad,'especialidad')">
                                <label>{{especialidad}}</label>
                            </li>
                        </ul>

                    </div>

                    <!------------------------------->

                </div>
            </div>
        </div>

    </div>

</div>