#contenedor-absoluto
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: #556e78;
    margin-top: 2rem;
}

.foto-usuario
{
    border-radius: 5px;
    height: 350px;
    margin-top: 1rem;
    margin-left: 1rem;
}

#col4
{
    width: 100%;
}

#col2, #col4, #col6
{
    margin-left: 5%;
}

/* HORARIOS ESPECIALISTA */

#btn-mostrar-horarios
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
  margin-top: 1rem;
  width: 65%;
  height: 2.5rem;
  margin-left: 20%;
  color:  white;
  background-color: #425b65;
  border: 1px solid white;
}

#row-horarios
{
    margin-top: 2rem;
}

#btn-mostrar-horarios:hover
{
    background-color: #556e78;
}

#btn-autocheck, #btn-guardar-cambios-horarios
{
    width: 95%;
    margin-left: 3%;
    background-color: #425b65;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
}

#columna-dia-lunes, #columna-dia-martes, #columna-dia-miercoles, #columna-dia-jueves, #columna-dia-viernes, #columna-dia-sabado 
{
    margin-top: 1rem;
    padding: 0.5rem;
    max-width: 16%;
    margin-bottom: 1rem;
}

#columna-dia-lunes
{
    margin-left: 2%;
}

/* HISTORIA CLINICA */
#contenedor-absoluto-3
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: #425b65;
    margin-top: 2rem;
}

#titulo-historia-clinica
{
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 1.8rem;
}

#input-filtrador-especialistas
{
  width: 50%;
  border-radius: 6px;
  margin-left: 2rem;
  text-align: center;
}

li
{
    list-style: none;
}

.historia-paciente-leida
{
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.historia-paciente:hover
{
    background-color: #556e78;
}

#btn-descargar-pdf-paciente
{
  border-radius: 4px;
  width: 50%;
  margin-left: 25%;
  color: white;
  background-color: #556e78;
  border: 1px solid white;
}
/* ---- */

@media (max-width: 1252px)
{
    /* .col
    {
        min-width: 30%;
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    } */

    #columna-dia-lunes, #columna-dia-martes, #columna-dia-miercoles, #columna-dia-jueves, #columna-dia-viernes, #columna-dia-sabado 
    {
        margin-left: 0%;
        min-width: 30%;
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #columna-dia-lunes, #columna-dia-jueves
    {
        margin-left: 5%;
    }
}

@media (max-width: 871px)
{
    /* .col
    {
        min-width: 40%;
    } */

    #columna-dia-lunes, #columna-dia-martes, #columna-dia-miercoles, #columna-dia-jueves, #columna-dia-viernes, #columna-dia-sabado 
    {
        margin-left: 0%;
        min-width: 40%;
    }

    #columna-dia-lunes, #columna-dia-miercoles, #columna-dia-viernes
    {
        margin-left: 10%;
    }
}

@media (max-width: 654px)
{
    /* .col
    {
        min-width: 60%;
    } */

    #columna-dia-lunes, #columna-dia-martes, #columna-dia-miercoles, #columna-dia-jueves, #columna-dia-viernes, #columna-dia-sabado 
    {
        margin-left: 20%;
        min-width: 60%;
    }
}



#btn-autocheck:hover
{
    background-color: #556e78;
}

#columna-dia-lunes, #columna-dia-martes, #columna-dia-miercoles, #columna-dia-jueves, #columna-dia-viernes, #columna-dia-sabado 
{
    color: white;
    background-color: #556e78;
    border-radius: 4px;
    border: 1px solid white;
}

.btn-horario-laboral
{
    margin-right: 0.3rem;
}

.turno-laboral, .hora-turno, .turno-laboral-lunes, .turno-laboral-martes, .turno-laboral-miercoles, .turno-laboral-jueves, .turno-laboral-viernes, .turno-laboral-sabado
{
    margin-left: 0.5rem;
}

.horarios-semanales
{
    margin-left: 1rem;
}


@media (min-width: 420px) and (max-width: 765px)
{
    .foto-usuario
    {
        width: 75%;
        height: 90%;
        margin-top: 10%;
        margin-left: 12%;
    }

    #col1, #col3, #col5
    {
        height: 16rem;
        margin-bottom: 10%;
    }

    #col2, #col4, #col6
    {
        margin-left: 12%;
    }
}


/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2022-10-27 20:56:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }


/* ----------------------------------------------
 * Generated by Animista on 2022-11-1 18:0:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  