<div id="main-container-graphs">
    <div class="row" id="row1">
        <div class="graphs">
            <label class="lbl-graph-helper">Logins al sistema (semanal histórico)</label><br>
            <!-- Logins al sistema (semanal historico). -->
            <canvas id="chart1" width="400" height="400">
            </canvas>
        </div>

        <div class="graphs">
                <label class="lbl-graph-helper">Cantidad de turnos por especialidad</label><br>
                <!-- Cantidad de turnos por especialidad -->
                <canvas id="chart2" width="400" height="400">
                </canvas>
        </div>

        <div class="graphs">
            <label class="lbl-graph-helper">Cantidad de turnos por dia</label><br>
            <!-- Cantidad de turnos por dia -->
            <canvas id="chart3" width="400" height="400">
            </canvas>
        </div>
    </div>

    <div class="row" id="row2">
        <div class="graphs">
            <label class="lbl-graph-helper">Los médicos con más turnos solicitados del 2021 al 2022</label><br>
                <!-- Los médicos con más turnos solicitados del 2021 al 2022 -->
                <canvas id="chart4" width="400" height="400">
            </canvas>
        </div>

        <div class="graphs" id="graphs2">
            <label class="lbl-graph-helper">Los médicos con más turnos finalizados del 2021 al 2022</label><br>
            <!-- Los médicos con más turnos finalizados del 2021 al 2022 -->
            <canvas id="chart5" width="400" height="400">
        </canvas>
        </div>
    </div>

</div>

           
    
           