<header class="p-3" id="header">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a href="/bienvenido" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-4" width="55" height="55" src="../assets/header-logo.png">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" id="header-ul">
          <li *ngIf="isLoged == true && isAdmin == true" class="opcion-seccion"><a href="/usuarios" class="nav-link px-2 text-white">Usuarios</a></li>
          <li *ngIf="isLoged == true && isAdmin == true" class="opcion-seccion"><a href="/totalidadturnos" class="nav-link px-2 text-white">Turnos</a></li>
          <li *ngIf="isLoged == true && (isPaciente == true || isEspecialista == true)" class="opcion-seccion"><a href="/misturnos" class="nav-link px-2 text-white">Mis turnos</a></li>
          <li *ngIf="isLoged == true && isEspecialista == true" class="opcion-seccion"><a href="/pacientes" class="nav-link px-2 text-white">Pacientes</a></li>
          <li *ngIf="isLoged == true && (isPaciente == true || isAdmin == true)" class="opcion-seccion"><a href="/solicitarturno" class="nav-link px-2 text-white">Solicitar turno</a></li>
        </ul>

        <div class="text-end" *ngIf="isLoged == true">
            <label id="userMail-loged"> {{mailShowed}}</label>
            <button type="button" class="btn btn-outline-light me-2" id="btnMiPerfil"><a href="/miperfil" class="nav-link px-2 text-white" id="btnMiPerfil2">Mi perfil</a></button>     
            <button (click)="cerrarSesion()" type="button" class="btn btn-outline-light me-2" id="btnLogout">Salir</button>
        </div>

        <button *ngIf="isLoged == false" (click)="navigateLogin()" type="button" class="btn btn-outline-light me-2" id="btnLogin">Ingresar</button>
        <button *ngIf="isLoged == false" (click)="navigateRegister()" type="button" class="btn btn-outline-light me-2" id="btnSignUp">Registrarse</button>

      </div>
    </div>
</header>

<router-outlet></router-outlet>

<div class="a-example-divider"></div>

    <div class="container" id="footer">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3" id="ul-footer">
            <li *ngIf="isLoged == true" class="nav-item"><a href="/bienvenida" class="nav-link px-2 text-muted" id="opcion-foot-misturnos">Mis turnos</a></li>
            <li *ngIf="isLoged == true" class="nav-item"><a href="/bienvenida" class="nav-link px-2 text-muted" id="opcion-foot-miperfil">Mi perfil</a></li>
          </ul>
          <p class="text-center text-muted">&copy; Prisud - Primero y siempre, tu salud.</p>
        </footer>
</div>