
#bienvenida-main-container
{
    height: 30rem;
    margin-bottom: 1rem;
    background-color: #425b65;
    border-radius: 30px;
    -webkit-animation: bounce-top 1.5s both;
    animation: bounce-top 1.5s both;
}

#btns-bienvenida-container
{
    height: 100%;
    width: 100%;
    padding-left: 15%;
    margin-top: 5rem;
}

#btn-bienvenida-ingresar, #btn-bienvenida-registrarse
{
    border-radius: 30px;
    margin-top: 1rem;
    height: 90%;
    width: 40%;
    opacity: 80%;
    border: 1px solid white; 

    -webkit-animation: wobble-hor-bottom 4s infinite;
    animation: wobble-hor-bottom 4s infinite;
} 

#btn-bienvenida-registrarse
{
    margin-left: 2rem;
}

#btn-bienvenida-ingresar:hover, #btn-bienvenida-registrarse:hover
{
    background-color: #b2bdc2;
}

@media (max-width: 1100px) 
{
        #bienvenida-main-container
        {
                height: 30rem;    
        }
}

@media (max-width: 700px) 
{
        #bienvenida-main-container
        {
                height: 20rem;    
        }
}

@media (max-width: 450px) 
{
        #bienvenida-main-container
        {
                height: 10rem;    
                border-radius: 4px;
        }
}


/* ANIMACIONES GENERADAS AUTOMATICAMENTE */
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }


/* ----------------------------------------------
 * Generated by Animista on 2022-10-27 20:15:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
        0%,
        100% {
          -webkit-transform: translateX(0%);
                  transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-30px) rotate(-6deg);
                  transform: translateX(-30px) rotate(-6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(6deg);
                  transform: translateX(15px) rotate(6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(-3.6deg);
                  transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(2.4deg);
                  transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(-1.2deg);
                  transform: translateX(-6px) rotate(-1.2deg);
        }
      }
      @keyframes wobble-hor-bottom {
        0%,
        100% {
          -webkit-transform: translateX(0%);
                  transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-30px) rotate(-6deg);
                  transform: translateX(-30px) rotate(-6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(6deg);
                  transform: translateX(15px) rotate(6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(-3.6deg);
                  transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(2.4deg);
                  transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(-1.2deg);
                  transform: translateX(-6px) rotate(-1.2deg);
        }
      }